#root{
    min-width:100vw;
    min-height:100vh;
    background-color: white;
    padding:0;
    margin:0;
  }

  body{
    margin:0;
    padding:0;
  }

div.main-layout{
    display: flex;
    flex-direction: row;

    width:100vw;
    min-height:100vh;
    height:auto;

    background-color: white;
    color:#222;
}

div.main-layout div.content{
    display: flex;
    flex-direction: column;

    width:calc(100vw - 250px);
    height:100%;
    margin:0;
    padding:0;

    background-color: white;
    color:#222;  
}

.content-layout{
    width:auto;
}

.page-content{
    width:auto;
    padding:1rem 2rem 1rem 1rem;
    background-color: #eee;
}

.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    font-size:1.2rem;
    font-weight: 800;

    margin-bottom:2rem;
    padding:0.7rem;

    border:1px solid hsl(0, 0%, 27%);
    border-radius: 4px;

    background-color: #0c6dc3;
    color:white;

}
