div.sidebar{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    row-gap: 0.5rem;


    width:250px;
    min-height: 100vh;
    height:auto;
    padding-top:2rem;
    background-color: rgb(212, 212, 212);
    color:white;

}

div.sidebar ul{   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0.5rem;
    list-style: none;
    width: auto;
    height:auto;
    margin:0;
    padding:0;
}



div.sidebar li{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 200px;
    height: 1.54rem;
    padding:0.5rem;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    color:white;
background-color: #0c6dc3;
    border:1px solid hsl(0, 0%, 27%);
    border-radius: 4px;

}

div.sidebar li:hover{
    border: 1px solid #eee;
    cursor:pointer;
    color:#eee;
    background-color: rgb(58, 58, 58);
}

div.sidebar a{
    text-decoration: none;
}